@model List<Cars.Models.OrderDetails>
@{
    ViewData["Title"] = "Create Quotation";

}
<link rel="stylesheet" href="~/Template/css/dataTables.bootstrap4.css">
<!-- Date Range Picker CSS -->
<link rel="stylesheet" href="~/Template/css/daterangepicker.css">
@if (ViewBag.ErrorMessage != null)
{
    <div class="card">
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
    </div>
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="mb-2 page-title">Create Quotation</h2>
            <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <!-- table -->
                            @*<table class="table datatables" id="dataTable-1">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Item</th>
                                            <th>ID</th>
                                            <th>Quantity</th>
                                            <th>Phone</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var order in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <label class="custom-control-label"></label>
                                                    </div>
                                                </td>
                                                <td>@order.Items</td>
                                                <td>01:@order.OrderID:@order.OrderDetailsID</td>
                                                <td>@order.Quantity</td>
                                                <td>@order.Order.Customer.CustomerContacts.FirstOrDefault()?.Phone</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>*@

                            <table class="table table-bordered table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Phone</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model)
                                    {
                                    <tr>
                                        <td>01:@order.OrderID:@order.OrderDetailsID</td>
                                        <td>@order.Items</td>
                                        <td>@order.Quantity</td>
                                        <td>@order.Price</td>
                                        <td>@order.Order.Customer.CustomerContacts.FirstOrDefault()?.Phone</td>
                                        <td>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" onchange="addOrRemoveOrderLinesId(this,@order.OrderDetailsID)" id="@order.OrderDetailsID">
                                                <label class="custom-control-label" for="@order.OrderDetailsID"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div>

<button class="btn btn-success" onclick="submitForm()">Save and continue</button>
<form id="formCreateQuotation" asp-action="CreateQuotation" asp-controller="Quotation" method="post">
    <input type="hidden" name="orderLinesIdList" id="orderLinesIdList" />
</form>
@section Scripts {
    <script src='~/Template/js/jquery.dataTables.min.js'></script>
    <script src='~/Template/js/dataTables.bootstrap4.min.js'></script>
    <script>
        $('#dataTable-1').DataTable(
            {
                autoWidth: true,
                "lengthMenu": [
                    [16, 32, 64, -1],
                    [16, 32, 64, "All"]
                ]
            });
    </script>
    <script>
        ChangeColorSidebarItem("anavbarQuotation", "aQuotations");
        let orderLinesIds = [];
        function addOrRemoveOrderLinesId(element, orderLineid) {
            if (element.checked) {

                orderLinesIds.push(orderLineid);
                console.log(orderLinesIds);
            } else {
                //for (var i = 0; i < orderLinesIds.length; i++) {

                //    if (arr[i] == ) {
                //        arr.splice(i, 1);
                //        i--;
                //    }
                //}
                orderLinesIds = arrayRemove(orderLinesIds, orderLineid);
                console.log(orderLinesIds);
            }
        }
        function arrayRemove(arr, value) {

            return arr.filter(function (ele) {
                return ele != value;
            });
        }
        function submitForm() {
            if (orderLinesIds.length > 0) {
                document.getElementById("orderLinesIdList").value = JSON.stringify(orderLinesIds);
                document.getElementById('formCreateQuotation').submit();
            } else {
                alert("Please Select Order Lines");
            }

        }
    </script>

}